name: Docker Image CI

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

jobs:

  build:
 
    runs-on: ubuntu-18.04
 
    steps:
    - uses: actions/checkout@v1

    - name: decide on tag
      run: |
        image_tag=$(echo $GITHUB_REF | sed -e 's/refs\/heads\///g' -e 's/refs\/tags\///g' | sed -e 's/master/latest/g')
        echo "::debug::decide on image tag ${image_tag}"
        echo "::set-env name=IMAGE_TAG::${image_tag}"

    - name: build image
      env:
        DOCKER_BUILDKIT: 1
      run: |
        docker build --tag ${DOCKER_USERNAME}/gtoken:${IMAGE_TAG} cmd/gtoken
        docker build --tag ${DOCKER_USERNAME}/gtoken-webhook:${IMAGE_TAG} cmd/gtoken-webhook
    
    - name: push image
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        echo ${DOCKER_PASSWORD} | docker login -u ${DOCKER_USERNAME} --password-stdin
        docker push ${DOCKER_USERNAME}/gtoken:${IMAGE_TAG}
        docker push ${DOCKER_USERNAME}/gtoken-webhook:${IMAGE_TAG}
        docker logout